<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="atom" />
  <package id="git" />
  <package id="golang" />
  <package id="GoogleJapaneseInput" />
  <package id="graphviz" />
  <package id="jdk8" />
  <package id="keepass" />
  <package id="keepass.install" />
  <package id="MobaXTerm" />
  <package id="steam" />
  <package id="teraterm" />
  <package id="vlc" />
  <package id="windirstat" />
  <package id="xmind" />
</packages>
