<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="atom" />
  <package id="dotnet4.7.1" />
  <package id="git" />
  <package id="git.install" />
  <package id="golang" />
  <package id="GoogleJapaneseInput" />
  <package id="graphviz" />
  <package id="jdk8" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="keepass" />
  <package id="keepass.install" />
  <package id="mobaxterm" />
  <package id="PDFXchangeEditor" />
  <package id="PDFXChangeViewer" />
  <package id="sakuraeditor" />
  <package id="SourceTree" />
  <package id="steam" />
  <package id="teraterm" />
  <package id="vlc" />
  <package id="windirstat" />
  <package id="winmerge" />
  <package id="xmind" />
  <package id="" />
  <package id="Did" />
  <package id="" />
</packages>
